.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: $white;

    @include breakpoint('sm') {
        position: relative;
        top: 90px;
        left: 0;
        right: 0;
    }

    &.active {
        .container {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }

        .burger-btn {
            span {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                bottom: 30%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        .header__lang {
            @include breakpoint('sm') {
                display: block;
                position: absolute;
                bottom: 85px;
                right: 0;
                z-index: 6;
                transform: rotate(90deg);
            }
        }
    }

    .container {
        border-bottom: 1px solid $grey;
        padding: 32px 15px 0;

        @include breakpoint('sm') {
            border: none;
            position: relative;
            padding: 20px 26px 250px;
            position:absolute;
            top: -90px;
            right: 0;
            width: 100%;
            z-index: 4;
            background-color: $white;
            // transform: translateX(100%);
            transition: all ease-in-out 0.3s;
            opacity: 0;
            visibility: hidden;
        }
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint('sm') {
            flex-direction: column;
        }
    }

    &__nav-link {
        color: $grey;
        font-weight: 700;

        @include breakpoint('sm') {
           padding: 34px 0;
           font-size: 34px;
        }

        &:hover {
            color: $black;
        }
    }

    &__lang {
        display: none;
    }

    &__lang-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__lang-list-item {
        padding-right: 5px;
    }

    &__lang-link {
        font-size: 16px;
        font-weight: 700;
        color: $grey;

        @include breakpoint('sm') {
            font-size: 34px;
        }

        &:hover {
            color: $black;
        }
    }

    .burger-btn {
        display: none;

        @include breakpoint('sm') {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 35px;
            height: 20px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            z-index: 6;
        }

        &::before {
            content: '';
            width: 35px;
            height: 4px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $black;
            transition: all ease-in-out 0.3s;
        }

        &:after {
            content: '';
            width: 35px;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $black;
            transition: all ease-in-out 0.3s;
        }

        span {
            width: 35px;
            height: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $black;
            transition: all ease-in-out 0.3s;
        }
    }

}