.hero {
    padding: 40px 0 105px;
    position: relative;

    @include breakpoint('sm') {
        padding: 65px 0 83px;  
    }

    &__text-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;
        position: relative;

        @include breakpoint('sm') {
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 37px;
        }
    }

    &__title {
        margin: 0;
        font-size: 48px;
        line-height: 59px;
        max-width: 124px;
        width: 100%;
    }

    &__lang {
        align-self: center;
        transform: rotate(-90deg);

        @include breakpoint('sm') {
            display: none;
        }
    }

    &__lang-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__lang-list-item {
        padding-right: 5px;
    }

    &__lang-link {
        font-size: 16px;
        font-weight: 700;
        color: $grey;

        &:hover {
            color: $black;
        }
    }
}