.skills {
    padding: 91px 0 60px;
    
    @include breakpoint('sm') {
        padding: 83px 0 20px;
    }

    .section-title {
        margin-bottom: 70px;

        @include breakpoint('sm') {
            margin-bottom: 50px;
        }
    }

    .text-holder {
        margin-bottom: 84px;

        @include breakpoint('sm') {
            margin-bottom: 70px;
        }
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skill-card {
        width: 25%;
        padding: 0 45px;
        align-items: center;

        @include breakpoint('lg') {
            width: 50%;
            margin-bottom: 50px;
        }

        @include breakpoint('sm') {
            width: 100%;
            margin-bottom: 80px;
        }

        &__img {
            max-width: 89px;
            width: 100%;
            margin: 0 auto 24px;

            &_thin {
                max-width: 58px;
            }
        }

        &__text {
            font-size: 14px;
            text-align: center;
            color: $grey;
            font-weight: 700;
            margin-bottom: 40px;
        }

        &__stars {
            max-width: 166px;
            width: 100%;
            margin: 0 auto;
        }
    }
}