*, 
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 15px;
    font-family: gilroy,sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; 
    color: $black;
    position: relative;

    @include breakpoint('sm') {
        padding: 0;
    }
}

p {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: $grey;

    &:hover {
        color: $black;
        transition: all ease-in 0.3s;
    }
}

img {
    width: 100%;
    display: block;
}

h1 {
    margin: 0;
}

.main {
    padding-top: 122px;

    @include breakpoint('sm') {
        padding-top: 0;
    }
}

.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;

    @include breakpoint('sm') {
        padding: 20px;
    }
}

.section-title {
    font-size: 34px;
    text-align: center;
}

.text-holder_light {
    font-size: 14px;
    line-height: 17px;
    color: $grey;

    @include breakpoint('sm') {
        font-size: 18px;
        line-height: 22px;
    }
}
    